<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="navbar-brand">Node.js test</div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li id="nav-home" class="nav-item">
                <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li id="nav-todo" class="nav-item">
                <a class="nav-link" href="/todo">Todo List Personnelle</a>
            </li>
            <li id="nav-chat" class="nav-item">
                <a class="nav-link" href="/chat">Super Chat</a>
            </li>
            <li id="nav-stodo" class="nav-item">
                <a class="nav-link" href="/stodo">Todo List Partagée</a>
            </li>
        </ul>
    </div>
    
</nav>