<!DOCTYPE html>
<html lang="fr">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Mon CSS -->
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <title>Node.js test</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="navbar-brand" >Node.js test</div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a></li>
        <li class="nav-item" style="display: none;"><a class="nav-link" href="/todo">Todo List Personnelle</a></li>
        <li class="nav-item" style="display: none;"><a class="nav-link" href="/chat">Super Chat</a></li>
        <li class="nav-item" style="display: none;"><a class="nav-link" href="/stodo">Todo List Partagée</a></li>
      </ul>
      <div class="connexion-form" style="display: none;" action="/" method="post">
        <form id="connexion-form" class="form-inline my-2 my-lg-0">
          <input id="pseudo" class="form-control mr-sm-2" name="pseudo" type="text" placeholder="Pseudo" aria-label="Pseudo">
          <input id="login" class="btn btn-outline-primary my-2 my-sm-0" type="submit" value="Connexion"/>
        </form>
      </div>
      <div class="disconnection-form" style="display: none;" action="/" method="post">
        <form id="disconnection-form" class="form-inline my-2 my-lg-0">
          <label id="pDisplay" class="form-control mr-sm-2" for="pseudo"></label>
          <input id="logout" class="btn btn-outline-primary my-2 my-sm-0" type="submit" value="Déconnexion"/>
        </form>
      </div>
    </div>
  </nav>

  <div class="container">

    {{{body}}}

  </div>

  <!-- jQuery et Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io.connect('http://localhost:8080');
    var mPseudo;
    socket.on('pseudo',function(pseudo){
      console.log("Pseudo reçu : " + pseudo);
      mPseudo = pseudo;
      if(pseudo){
        $("#pDisplay").prepend(pseudo);
        $(".connexion-form").hide();
        $(".disconnection-form").show();
        $(".nav-item").show();
      } else {
        $(".connexion-form").show();
        $(".disconnection-form").hide();
      }
    });
    $("#connexion-form").click(function(){
      socket.emit('login', $("#pseudo").val() );
    });
    $("#disconnection-form").click(function(){
      socket.emit('logout', mPseudo);
    });
  </script>
</body>
</html>