<div id="chat">

	<h1>Super Chat</h1>

	<div class="card">
		<div class="card-header">
			Messages :
		</div>
		<ul class="list-group list-group-flush">

		</ul>
	</div>


	<div>
		<form>
			<div class="form-group">
				<label for="message">Poster un message :</label>
				<input id="message" class="form-control" type="text" name="message"></input>
			</div>
			<input id="send-message" class="btn btn-primary" value="Envoyer"/>
		</form>
	</div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script>
	var socket = io.connect('http://localhost:8080');

	socket.on('pseudo', function(pseudo) {

		socket.emit('new-chat-connexion');

		$("#send-message").click(function(){
			var message = $("#message").val();
			socket.emit('new-message', message);
			$(".list-group").prepend("<li class=\"list-group-item\">" + getTime() + " | <span>"+ pseudo +" : </span>"+ message +"</li>");
			$('#message').val('').focus();
		});

		socket.on('new-chat-connexion', function(pseudo){
			$(".list-group").prepend("<li class=\"list-group-item\">" + getTime() + " | <span>"+ pseudo +" : </span> viens de se connecter.</li>");
		});

		socket.on('new-message',function(data){
			$(".list-group").prepend("<li class=\"list-group-item\">" + getTime() + " | <span>"+ data.pseudo +" : </span>"+ data.message +"</li>");
		});
	});

	function getTime(){
		var dt = new Date();
		var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
		return time;
	}

</script>