<div id="chat" class="container">

	<h1>Super Chat</h1>

	<div class="card">
		<div class="card-header">
			Messages :
		</div>
		<ul class="card-content list-group list-group-flush">

		</ul>
	</div>


	<div>
		<form>
			<div class="form-group">
				<label for="message">Poster un message :</label>
				<input id="message" class="form-control" type="text" name="message"></input>
			</div>
			<input id="send-message" class="btn btn-primary" value="Envoyer"/>
		</form>
	</div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script>
	$("#nav-chat").addClass("active");

	var socket = io.connect('http://localhost:8080');

	socket.on('pseudo', function(pseudo) {

		// On informe le serveur d'une nouvelle connexion
		socket.emit('new-chat-connexion');

		// Gestion de l'emission de message
		$("#send-message").click(function(){
			var message = $("#message").val();
			socket.emit('new-message', message);
			$(".card-content").prepend("<li class=\"list-group-item\"><span class=\"badge badge-secondary badge-pseudo\"> "+ pseudo +" </span>"+ message +"<span class=\"hour\">" + getTime() + "</span></li>");
			$('#message').val('').focus();
		});

		// Information d'une nouvelle connexion
		socket.on('new-chat-connexion', function(pseudo){
			$(".card-content").prepend("<li class=\"list-group-item info\"> " + pseudo + " viens de se connecter.<span class=\"hour\">" + getTime() + "</span></li>");
		});

		// Gestion de la reception d'un nouveau message
		socket.on('new-message',function(data){
			if(data.pseudo!=pseudo){
				$(".card-content").prepend("<li class=\"list-group-item\"><span class=\"badge badge-primary\"> "+ data.pseudo +" </span>"+ data.message +"<span class=\"hour\">" + getTime() + "</span></li>");
			}
		});
	});

	// Fonction retournant l'heure actuelle
	function getTime(){
		var dt = new Date();
		var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
		return time;
	}

</script>