<h1>Super Chat</h1>

<div>
	<form  action="/connexion/add" method="post">
		<div class="form-group">
		    <label for="pseudo">Pseudo :</label>
		    <input id="pseudo" class="form-control" type="text" name="pseudo"></input>
		</div>
	    <button type="submit" class="btn btn-primary">Connection</button>
	</form>
</div>