<div id="home" class="container">

	<h1>Accueil</h1>

	<div>Bienvenu sur cette application web.</div>
	<div>Vous y trouverez des exercices réalisés dans le cadre du cours "Des applications ultra-rapides avec Node.js" proposé par le site Openclassrooms.</div>
	<div>
		<p>Vous y trouverez les exercices suivants :</p>
		<ul>
			<li>Todo List Personnelle</li>
			<li>Super Chat</li>
			<li>Todo List Partagée</li>
		</ul>
	</div>
	<div>Afin d'accéder à ces exercices, veuillez vous connecter à l'aide de la bare de navigation.</div>

</div>

<script type="text/javascript">
	$("#nav-home").addClass("active");
</script>