<h1>Ma todolist</h1>
<ul>
    {{#each list}}
        <li> <a href="/todo/supprimer/{{@index}}">✘</a>  {{this}}</li>
    {{/each}}
</ul>

<form  action="/todo/ajouter" method="post">
    <label for="task">Que dois-je faire ?</label>
    <input id="task" type="text" name="task"></input>
    <input type="submit" value="Valider">
</form>