<div id="todo" class="container">

	<h1>Ma todolist</h1>

	<div class="card">
		<div class="card-header">
			Mes tâches :
		</div>
		<ul class="card-content list-group list-group-flush">
			{{#each list}}
				<li class="list-group-item">
					<label class="form-check-label"> {{this}} </label>
					<a class="badge badge-delete" href="/todo/supprimer/{{@index}}">✘</a>
				</li>
			{{/each}}
		</ul>
	</div>

	<div>
		<form  action="/todo/ajouter" method="post">
			<div class="form-group">
				<label for="task">Que dois-je faire ?</label>
				<input id="task" class="form-control" type="text" name="task" placeholder="Entrer une tâche"></input>
			</div>
			<button type="submit" class="btn btn-primary">Valider</button>
		</form>
	</div>

</div>

<script type="text/javascript">
	$("#nav-todo").addClass("active");
	$('#task').val('').focus();
</script>